<section>
    <!-- <ng-owl-carousel class="owl-theme homeslider" owl-items="items" owl-properties="properties" owl-ready="ready($api)">
       <div class="item" data-ng-repeat="item in items">
           <div class="slider-item" style="background:linear-gradient(180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(assets/images/{{item.img}}.jpg);
               background-size: cover;
               background-repeat: no-repeat;
               background-position: center center;">
             <div class="text-content">
               <p>{{item.subheading}}</p>
               <h2>{{item.headdingtext}}</h2>
             </div>
           </div>
       </div>
    </ng-owl-carousel> -->

    <div class="owl-theme homeslider owl-carousel owl-loaded owl-drag">

        <div class="owl-stage-outer">
            <div class="owl-stage" style="transform: translate3d(-2698px, 0px, 0px); transition: 0s; width: 9443px;">
                <div class="owl-item cloned" style="width: 1349px;">
                    <div class="item">
                        <div class="slider-item" style="background:linear-gradient(180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(assets/images/banner1.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;">
                            <div class="text-content">
                                <p>500,000+ Coupons for 50,000 Stores</p>
                                <h2>Need some super savings on your day to day expenses</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-item cloned" style="width: 1349px;">
                    <div class="item">
                        <div class="slider-item" style="background:linear-gradient(180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(assets/images/banner1.jpg);
               background-size: cover;
               background-repeat: no-repeat;
               background-position: center center;">
                            <div class="text-content">
                                <p>500,000+ Coupons for 50,000 Stores</p>
                                <h2>Need some super savings on your day to day expenses</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-item active" style="width: 1349px;">
                    <div class="item">
                        <div class="slider-item" style="background:linear-gradient(180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(assets/images/banner1.jpg);
               background-size: cover;
               background-repeat: no-repeat;
               background-position: center center;">
                            <div class="text-content">
                                <p>500,000+ Coupons for 50,000 Stores</p>
                                <h2>Need some super savings on your day to day expenses.</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-item" style="width: 1349px;">
                    <div class="item">
                        <div class="slider-item" style="background:linear-gradient(180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(assets/images/banner1.jpg);
               background-size: cover;
               background-repeat: no-repeat;
               background-position: center center;">
                            <div class="text-content">
                                <p>500,000+ Coupons for 50,000 Stores</p>
                                <h2>Need some super savings on your day to day expenses</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-item" style="width: 1349px;">
                    <div class="item">
                        <div class="slider-item" style="background:linear-gradient(180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(assets/images/banner1.jpg);
               background-size: cover;
               background-repeat: no-repeat;
               background-position: center center;">
                            <div class="text-content">
                                <p>500,000+ Coupons for 50,000 Stores</p>
                                <h2>Need some super savings on your day to day expenses</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-item cloned" style="width: 1349px;">
                    <div class="item">
                        <div class="slider-item" style="background:linear-gradient(180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(assets/images/banner1.jpg);
               background-size: cover;
               background-repeat: no-repeat;
               background-position: center center;">
                            <div class="text-content">
                                <p>500,000+ Coupons for 50,000 Stores</p>
                                <h2>Need some super savings on your day to day expenses.</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-item cloned" style="width: 1349px;">
                    <div class="item">
                        <div class="slider-item" style="background:linear-gradient(180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(assets/images/banner1.jpg);
               background-size: cover;
               background-repeat: no-repeat;
               background-position: center center;">
                            <div class="text-content">
                                <p>500,000+ Coupons for 50,000 Stores</p>
                                <h2>Need some super savings on your day to day expenses</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="owl-nav disabled">
            <div class="owl-prev">prev</div>
            <div class="owl-next">next</div>
        </div>
        <div class="owl-dots">
            <div class="owl-dot active"><span></span></div>
            <div class="owl-dot"><span></span></div>
            <div class="owl-dot"><span></span></div>
        </div>
    </div>


</section>



<div id="sticky-wrapper" style="height: 53px;">
    <section class="menubar-section-mobile" style="width: 1349px; position: fixed; top: 88px; z-index: inherit;">
        <div class="overlay"></div>
        <div class="menu-section">
            <div class="logo">
                <a class="navbar-brand" href="javascript:void(0)">
            <img src="assets/images/logo.png">
          </a>
                <span class="close-menu">
          </span>
            </div>

        </div>

    </section>

    <div class="menubar sticky-top is-sticky" style="height:95px">

        <div class="container">
            <div class="menubar-content">
                <nav class="navbar sticky-top navbar-light bg-faded">
                    <ul class=" list-unstyled list-inline ">
                        <li class="active">
                            <a href="/home" class="">
            <i class="aw-map-marker-h"></i><br>
            Home
                     </a>
                        </li>
                        <li class="visible-xs collapse-submenu">
                            <a href="javascript:void(0)#submenu1" class="list-group-item sub-item-level1 ng-binding" data-toggle="collapse" data-parent="#submenu1">
          <i class="aw-goods"></i><br>
            Goods
           <span class=" menu-ico-collapse">
              <i class="fa fa-angle-right">
             </i>
           </span>
          </a>
                            <div class="collapse collapse-submenu-lavel1 " id="submenu1">
                                <a href="javascript:void(0)#submenu2" class="list-group-item sub-item-level2 sub-item" data-toggle="collapse" data-parent="#submenu2">
                Electronics
                 <span class=" menu-ico-collapse">
                    <i class="fa fa-angle-right">
                   </i>
                 </span>
                </a>
                                <div class="collapse collapse-submenu-lavel2 " id="submenu2">
                                    <a href="javascript:void(0);" class="list-group-item sub-item">
                     Mobile &amp; Tablets(102)
                    </a>
                                    <a href="javascript:void(0);" class="list-group-item sub-item">
                     TV &amp; Sound System(62)
                    </a>
                                    <a href="javascript:void(0);" class="list-group-item sub-item">
                     Kitchen Appliances(118)
                    </a>
                                    <a href="javascript:void(0);" class="list-group-item sub-item">
                     Laptop &amp; Computer Peripherals(99)
                    </a>
                                    <a href="javascript:void(0);" class="list-group-item sub-item">
                     Software(12)
                    </a>
                                </div>
                                <a href="javascript:void(0)" class="list-group-item sub-sub-item" data-parent="#submenu1">Fashion</a>
                                <a href="javascript:void(0)" class="list-group-item sub-sub-item" data-parent="#submenu1">Sports</a>
                                <a href="javascript:void(0)" class="list-group-item sub-sub-item" data-parent="#submenu1">Groceries</a>
                                <a href="javascript:void(0)" class="list-group-item sub-sub-item" data-parent="#submenu1">Health &amp; Beauty</a>
                                <a href="javascript:void(0)" class="list-group-item sub-sub-item" data-parent="#submenu1">Entertainment</a>
                                <a href="javascript:void(0)" class="list-group-item sub-sub-item" data-parent="#submenu1">Grocery</a>
                            </div>
                        </li>
                        <li class="dropdown mega-dropdown hidden-xs">
                            <a href="javascript:void(0)" class="dropdown-toggle ng-binding" data-toggle="dropdown">
            <i class="aw-goods"></i><br>
           Goods
          </a>
                            <ul class="dropdown-menu mega-dropdown-menu row">
                                <li class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-3 mega-sidebarmenu">
                                            <ul class="nav nav-pills">
                                                <li class=""><a href="javascript:void(0)#tab-1" data-toggle="tab" aria-expanded="false">Electronics</a></li>
                                                <li class=""><a href="javascript:void(0)#tab-2" data-toggle="tab" aria-expanded="false">Fashion</a></li>
                                                <li class=""><a href="javascript:void(0)#tab-3" data-toggle="tab" aria-expanded="false">Sports</a></li>
                                                <li class="active"><a href="javascript:void(0)#tab-4" data-hover="tab">Groceries</a></li>
                                                <li><a href="javascript:void(0)#tab-5" data-hover="tab">Health &amp; Beauty</a></li>
                                                <li><a href="javascript:void(0)#tab-6" data-hover="tab">Entertainment</a></li>
                                                <li><a href="javascript:void(0)#tab-7" data-hover="tab">Grocery</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-9">

                                            <div class="tab-content inner-content ">
                                                <div class="tab-pane" id="tab-1">
                                                    <div class="row">
                                                        <div class="col-sm-5">
                                                            <ul class="list-unstyled item-list">
                                                                <li>
                                                                    <a href="#/product-list"> Mobile &amp; Tablets(102)</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#/product-list">  TV &amp; Sound System(62)</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#/product-list">  Kitchen Appliances(118)</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#/product-list"> Laptop &amp; Computer Peripherals(99)</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#/product-list">  Software(12) </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-sm-7">
                                                            <div class="img">
                                                                <img src="assets/images/hotel.jpg" class="img-responsive">
                                                                <span class="rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o ar-icon"></i>
                                                <i class="fa fa-star-o"></i>
                                            </span>
                                                            </div>
                                                            <div class="img-content">
                                                                3 course italian meal with wine on house
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane" id="tab-2">
                                                    <div class="row">
                                                        <div class="col-sm-5">
                                                            <ul class="list-unstyled item-list">
                                                                <li>
                                                                    <a href="#/product-list"> Mobile &amp; Tablets(102)</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#/product-list">  TV &amp; Sound System(62)</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#/product-list">  Kitchen Appliances(118)</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#/product-list"> Laptop &amp; Computer Peripherals(99)</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#/product-list">  Software(12) </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-sm-7">
                                                            <div class="img">
                                                                <img src="assets/images/hotel.jpg" class="img-responsive">
                                                                <span class="rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o ar-icon"></i>
                                                <i class="fa fa-star-o"></i>
                                            </span>
                                                            </div>
                                                            <div class="img-content">
                                                                3 course italian meal with wine on house
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane" id="tab-3">
                                                    <div class="row">
                                                        <div class="col-sm-5">
                                                            <ul class="list-unstyled item-list">
                                                                <li>
                                                                    <a href="#/product-list"> Mobile &amp; Tablets(102)</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#/product-list">  TV &amp; Sound System(62)</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#/product-list">  Kitchen Appliances(118)</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#/product-list"> Laptop &amp; Computer Peripherals(99)</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#/product-list">  Software(12) </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-sm-7">
                                                            <div class="img">
                                                                <img src="assets/images/hotel.jpg" class="img-responsive">
                                                                <span class="rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o ar-icon"></i>
                                                <i class="fa fa-star-o"></i>
                                            </span>
                                                            </div>
                                                            <div class="img-content">
                                                                3 course italian meal with wine on house
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane active" id="tab-4">
                                                    <div class="row">
                                                        <div class="col-sm-5">
                                                            <ul class="list-unstyled item-list">
                                                                <li>
                                                                    <a href="#/product-list"> Mobile &amp; Tablets(102)</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#/product-list">  TV &amp; Sound System(62)</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#/product-list">  Kitchen Appliances(118)</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#/product-list"> Laptop &amp; Computer Peripherals(99)</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#/product-list">  Software(12) </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-sm-7">
                                                            <div class="img">
                                                                <img src="assets/images/hotel.jpg" class="img-responsive">
                                                                <span class="rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o ar-icon"></i>
                                                <i class="fa fa-star-o"></i>
                                            </span>
                                                            </div>
                                                            <div class="img-content">
                                                                3 course italian meal with wine on house
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane" id="tab-5">
                                                    <div class="row">
                                                        <div class="col-sm-5">
                                                            <ul class="list-unstyled item-list">
                                                                <li>
                                                                    <a href="#/product-list"> Mobile &amp; Tablets(102)</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#/product-list">  TV &amp; Sound System(62)</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#/product-list">  Kitchen Appliances(118)</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#/product-list"> Laptop &amp; Computer Peripherals(99)</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#/product-list">  Software(12) </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-sm-7">
                                                            <div class="img">
                                                                <img src="assets/images/hotel.jpg" class="img-responsive">
                                                                <span class="rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o ar-icon"></i>
                                                <i class="fa fa-star-o"></i>
                                            </span>
                                                            </div>
                                                            <div class="img-content">
                                                                3 course italian meal with wine on house
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane" id="tab-6">
                                                    <div class="row">
                                                        <div class="col-sm-5">
                                                            <ul class="list-unstyled item-list">
                                                                <li>
                                                                    <a href="#/product-list"> Mobile &amp; Tablets(102)</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#/product-list">  TV &amp; Sound System(62)</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#/product-list">  Kitchen Appliances(118)</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#/product-list"> Laptop &amp; Computer Peripherals(99)</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#/product-list">  Software(12) </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-sm-7">
                                                            <div class="img">
                                                                <img src="assets/images/hotel.jpg" class="img-responsive">
                                                                <span class="rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o ar-icon"></i>
                                                <i class="fa fa-star-o"></i>
                                                 </span>
                                                            </div>
                                                            <div class="img-content">
                                                                3 course italian meal with wine on house
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane" id="tab-7">
                                                    <div class="row">
                                                        <div class="col-sm-5">
                                                            <ul class="list-unstyled item-list">
                                                                <li>
                                                                    <a href="#/product-list"> Mobile &amp; Tablets(102)</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#/product-list">  TV &amp; Sound System(62)</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#/product-list">  Kitchen Appliances(118)</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#/product-list"> Laptop &amp; Computer Peripherals(99)</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#/product-list">  Software(12) </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-sm-7">
                                                            <div class="img">
                                                                <img src="assets/images/hotel.jpg" class="img-responsive">
                                                                <span class="rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o ar-icon"></i>
                                                <i class="fa fa-star-o"></i>
                                            </span>
                                                            </div>
                                                            <div class="img-content">
                                                                3 course italian meal with wine on house
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="" class="ng-binding">
            <i class="aw-service"></i><br>
              Services
        </a>
                        </li>
                        <li>
                            <a href="" class="ng-binding">
            <i class="aw-dining"></i><br>
              Dining Out
        </a>
                        </li>
                        <li>
                            <a href="" class="ng-binding">
            <i class="aw-spa-beauty"></i><br>
            Spa &amp; Salon
         </a>
                        </li>
                        <li>
                            <a href="" class="ng-binding">
                                <i class="aw-deal"></i><br>
            Daily Deals
         </a>
                        </li>
                        <li>
                            <a href="" class="ng-binding">
                                <i class="aw-gift"></i><br>
            Brand Offers
         </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>

<div ng-view="" class="fade-in-up ng-scope" style="margin-top:3%">
    <section class="space-padding pd-tp15 ng-scope">
        <div class="container">
            <div class="breadcrumb-list">
                <ol class="breadcrumb">
                    <li><a href="javascript::void(0)" class="ng-binding">Goods</a></li>
                    <li><a href="javascript::void(0)" class="ng-binding">Electronics</a></li>
                    <li> <a href="javascript::void(0)" class="ng-binding"> Mobile &amp; Laptops </a></li>
                    <li class="active">Deal Name</li>
                </ol>
            </div>
            <div class="title-product title-product-sm ">
                <h2 class=""> {{getResponse.Name}} </h2>
            </div>
            <div class="row mr-tp20">
                <div class="col-md-6">
                    <div class="deal-item deal-item-detail">
                        <div class="img">
                            <img [src]='sanitizer.bypassSecurityTrustUrl(getResponse.Image)'>
                            <div class="rating">
                                <span *ngFor="let r of starss">
                                        <i class="fa fa-star" *ngIf="r.Value == 'Full'"></i>
                                        <i class="fa fa-star-half-o" *ngIf="r.Value == 'Half'"></i>
                                        <i class="fa fa-star-o" *ngIf="r.Value == 'O'"></i>
                                </span>
                                <span class="rating-person">
                    {{totalRating}}
                <span class="like-deal" (click)="DealLike()">
                       <i class="fa fa-heart-o" *ngIf="status == false"></i>
                       <i class="fa fa-heart" *ngIf="status == true"></i>
                       <span class="notification"> {{average.TotalLikes}} </span>
                                </span>
                                <span class="share-deal">
                       <i class="fa fa-share-alt"></i>
                  </span>
                                </span>
                            </div>
                        </div>
                        <div class="deal-content">
                            <div class="dela-offer-text ro-r">
                                <div class="deal-location">
                                    <i class="aw-map-marker-o2"></i>
                                    <span></span> <span> {{getResponse.LocationName}}
                      <a href="javascript::void()" class="text-skybl ng-binding">Get Direction </a></span>
                                </div>
                                <div class="deal-ticket">
                                    <span>
                        <i class="aw-ticket-o"></i>
                        <span class="ng-binding">Over {{getResponse.DealSold}} + Deals Sold</span>
                                    </span>
                                    <span class="pull-right showall-review">
                        <i class="aw-notepad"></i>
                        <a href="javascript::void()" class="text-skybl  ng-binding">{{average.TotalReviews}}+ Reviews</a>
                      </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="content-box special-offers">
                        <div class="title">
                            <h2 class="ng-binding">Special offers</h2>
                        </div>
                        <div class="special-offers-list scrollbar">

                            <div *ngIf="offerDeal.length > 0">
                                <div *ngFor="let offer of offerDeal; let i = index">
                                    <ul class="list-unstyled">
                                        <li>
                                            <div class="s-offer-content">
                                                <div class="s-offer-text mr-tp10">
                                                    <label class="radio-inline radio-button radio-green">
                                                        <input type="radio" name="optradio" [checked]='true' value="offer.ID">
                                                      <div class="radio-checked"></div>
                                                     </label>
                                                    <p>{{offer.Text}}</p>
                                                    <span class="ng-binding">Over {{offer.Count}} Bought</span>
                                                </div>
                                                <div class="s-offer-button-price">
                                                    <span class="dela-offer-price ro-bo">
                                                   <span class="old-price  ro-r">{{offer.Price}} KD</span>
                                                    <span class="new-price text-skybl">{{ (offer.Price / 100) * (100 - offer.Discount) | number : '1.2-2' }} KD </span>
                                                    </span>
                                                    <label class="text-white  back-s-green label-offer ro-l ng-binding">
                                                             {{offer.Discount}}% Off
                                                     </label>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div *ngIf="offerDeal.length == 0">
                                <ul class="list-unstyled">
                                    <li>
                                        <div class="s-offer-content">
                                            <div class="s-offer-text mr-tp10">
                                                <label class="radio-inline radio-button radio-green">
                                               <input type="radio" name="optradio" [checked]='true' value="0">
                                               <div class="radio-checked"></div>
                                             </label>
                                                <p>{{getResponse.Name}}</p>
                                                <span class="ng-binding">Over {{getResponse.DealSold}} Bought</span>
                                            </div>
                                            <div class="s-offer-button-price">
                                                <span class="dela-offer-price ro-bo">
                                                 <span class="old-price  ro-r">{{getResponse.Price}} KD</span>
                                                <span class="new-price text-skybl">{{ (getResponse.Price / 100) * (100 - getResponse.Discount) | number : '1.2-2' }} KD </span>
                                                </span>
                                                <label class="text-white  back-s-green label-offer ro-l ng-binding">
                                                 {{getResponse.Discount}}% Off
                                             </label>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="special-offers-action text-right">
                            <span class="pull-left mr-tp5">
                  <span class="text-qty ng-binding"> Qty: &nbsp; </span>
                            <div class="input-group input-increment-decrement">
                                <span class="input-group-btn">
                                                      <button type="button" class="btn btn-default btn-number" (click)='Minus()'>
                                                      <span class="aw-remove"></span>
                                </button>
                                </span>
                                <input type="text" class="form-control input-number" value={{Q}} min="1" max="10">
                                <span class="input-group-btn">
                                                      <button type="button" class="btn btn-default btn-number" (click)='Plus()'>
                                                      <span class="aw-add"></span>
                                </button>
                                </span>
                            </div>
                            </span>
                            <span>
                  <a [routerLink]="['/CartPayment']" (click)="getItemID()" class="btn back-skybl addtocart ng-binding">
                    <i class="aw-cart icon"></i>
                     Add To cart
                  </a>
                  &nbsp; &nbsp;
                  <button type="button" (click)="opnPOP()" class="btn back-skybl ng-binding" >
                    <i class="aw-gift icon"></i>
                      Send as Gift
                  </button>
                  </span>

                        </div>
                    </div>
                </div>
            </div>



            <div class="row mr-tp50 mr-bt50">
                <div class="col-sm-12 ">
                    <div class="content-box product-description tab-content">
                        <ul class="nav nav-tabs  tab-view">
                            <li class="active detailpane" id="Detailsli"><a data-toggle="tab" href="javascript:;" (click)='changetab("Detailsli","Details")'>Details</a></li>
                            <li class="detailpane" id="FinePrintli"><a data-toggle="tab" href="javascript:;" (click)='changetab("FinePrintli","FinePrint")'>Fineprint</a></li>
                        </ul>

                        <div class="tab-content">
                            <div id="Details" class="tabcontent tab-pane active">
                                {{getResponse.Details}}
                            </div>
                            <div id="FinePrint" class="tabcontent tab-pane">
                                {{getResponse.FinePrint}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>

        </div>


        <div class="deal-slider">
            <div class="container">
                <div class="title text-center title-border">
                    <h2 class="ng-binding">Hot Deals</h2>
                </div>
            </div>

            <div class="form-group owl-theme owl-carousel dealslider owl-loaded owl-drag" style="display: flex;">

                <div *ngFor="let hot of hotDeal; let i = index;" style="width: 370px;padding-right: 1%">

                    <div class="">
                        <div class="item">
                            <div class="deal-item">
                                <div class="img" on-click="Details(hot.ID)" [routerLink]="['/Product-Details']">
                                    <span class="like-deal" ng-click="toggle = !toggle" ng-class="{'like-user' : toggle}">
                                <i class="aw-heart-o"></i>
                                <i class="aw-heart-fill"></i>
                              </span>
                                    <img [src]='sanitizer.bypassSecurityTrustUrl(hot.Image)'>

                                    <div class="rating">
                                        <span *ngFor="let r of hotstarss[i]">
                                            <i class="fa fa-star" *ngIf="r.Value == 'Full'"></i>
                                            <i class="fa fa-star-half-o" *ngIf="r.Value == 'Half'"></i>
                                            <i class="fa fa-star-o" *ngIf="r.Value == 'O'"></i>
                                        </span>
                                        <span class="rating-person">
                                                {{hot.RateCount}}
                                         </span>
                                    </div>
                                </div>
                                <div class="deal-content">
                                    <div class="dela-offer-text ro-r">
                                        <p>
                                            <a href="#/product-details">
                                {{hot.Details}}</a>
                                        </p>
                                    </div>
                                    <div class="dela-offer-price ro-bo">
                                        <span class="old-price ro-r">
                                        {{hot.Price}} KD
                                    </span>
                                        <span class="new-price text-skybl">
                                    {{ (hot.Price / 100) * (100 - hot.Discount) | number : '1.2-2' }} KD
                                    </span>
                                        <span class="discount">
                                    {{ hot.Discount }} % Off
                                </span>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="customer-review-content ">
            <div class="container">
                <div class="content-box">

                    <div class="title  title-sm">
                        <h2 class="">Customer Review <span class="pull-right ">
                <a href="javascript::void()" class="text-skybl ng-binding"> View All Reviews</a>
              </span></h2>

                    </div>
                    <div class="customer-review-list">
                        <div *ngFor="let review of Review; let i = index;">
                            <ul class="list-unstyled">
                                <li>
                                    <div class="content">
                                        <div>
                                            <div class="name ro-m mr-tp10" style="height:42px">
                                                <span class="customer-pro-image">
                                                        <img [src]='sanitizer.bypassSecurityTrustUrl(review.Image)'>
                                                </span> {{review.FullName}}
                                                <br>
                                                <span class="rating-relative mr-tp5">
                                                    <span *ngFor="let r of reviewstarss[i]">
                                                        <i class="fa fa-star" *ngIf="r.Value == 'Full'"></i>
                                                        <i class="fa fa-star-o" *ngIf="r.Value == 'O'"></i>
                                                    </span>
                                                </span>
                                            </div>
                                            <span class="reviews-post-time pull-right text-skybl">
                                                    {{review.ReviewDate | timeAgo}}
                                             </span>
                                        </div>
                                        <div class="desc mr-tp10">
                                            {{review.ReviewText}}
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form [formGroup]="GiftForm">
            <app-modal #modal1>
                <div class="app-modal-header">
                    <button type="button" class="close" (click)="modal1.hide()">&times;</button>
                    <h2><b> Gift Details </b></h2>
                </div>

                <div class="app-modal-body">
                    <div class="singline-form">
                        <div class="form-group">
                            <div class="input-label" [ngClass]="{'input-label-show': GiftForm.controls['Name'].value != '' ? true : false }">
                                <label for="email">Name</label>
                                <input type="text" class="form-control" formControlName="Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-label" [ngClass]="{'input-label-show': GiftForm.controls['RecipientEmail'].value != '' ? true : false }">
                                <label for="email">Recipient Email</label>
                                <input type="email" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" class="form-control" formControlName="RecipientEmail">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-label auto-textarea" [ngClass]="{'input-label-show': GiftForm.controls['Message'].value != '' ? true : false }">
                                <label for="email">Customize Your Message:</label>
                                <textarea class="form-control" formControlName="Message"></textarea>
                            </div>
                        </div>
                        <div class="form-group input-label-show">
                            <div class="input-label input-label-show input-icon">
                                <label for="date of birth">When Would you like to send your gift?</label>
                            </div>
                            <div>
                                <my-date-picker name="Date" [options]="myDatePickerOptions" formControlName="DateToSend" placeholder="When Would you like to send your gift?"></my-date-picker>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="item-total-price mr-tp30 text-left">

                                <span class="mr-tp10">
                                      <label class="ro-l ng-binding">Total:</label>
                                      <span class="ro-m"> KD</span>
                                </span>
                                <span class="pull-right" style="margin: 0px;">
                                      <a href="javascript:void(0)" class="btn back-skybl btn-block pd-bt10 pd-tp10 fn16 ng-binding" (click)="modal1.hide()" data-dismiss="modal"> SAVE </a>
                                  </span>
                            </div>
                        </div>
                    </div>
                </div>
            </app-modal>
        </form>
    </section>

</div>