<footer class="footer">
    <div class="footer-inner pd-tp50">
        <div class="container">
            <div class="row footer-tow-section">
                <div class="col-sm-7">
                    <div class="about">
                        <div class="img">
                            <img src="assets/images/footer-logo.png">
                        </div>
                        <div class="content">
                            <div class="title text-white text-uppercase ro-bo ">
                                About us
                            </div>
                            <div class="desc ">
                                Awfir is building the daily habit in local commerce, offering a vast mobile and online marketplace where people discover
                                and save on amazing things to do, see, eat and buy. By enabling real-time commerce across
                                local businesses, travel destinations, consumer products and live events, shoppers can find
                                the best a city has to offer.
                            </div>
                        </div>
                    </div>
                    <div class="menu">
                        <ul class="list-unstyled list-inline text-capitalize">
                            <li>
                                <a href="" >About Awfir</a>
                            </li>
                            <li>
                                <a href="" >Terms &amp; Conditions</a>
                            </li>
                            <li>
                                <a href="" >Blog</a>
                            </li>
                            <li>
                                <a href="" >FAQ</a>
                            </li>
                            <li>
                                <a href="" >Help</a>
                            </li>
                            <li>
                                <a href="" >How to Reedem</a>
                            </li>
                            <li>
                                <a href="" >Contact us</a>
                            </li>
                            <li>
                                <a href="" >Refund policies</a>
                            </li>
                            <li>
                                <a href="" >Why us</a>
                            </li>
                        </ul>
                    </div>
                    <div class="buisness mr-tp20">
                        <div class="title text-uppercase ro-bo text-white ">
                            Grow Your Bussiness by working with us
                        </div>
                        <div class="img">
                            <img src="assets/images/footer-logo-blue.png" alt="Vendor logo">
                            <span class="ro-t ">
                                Vendor
                            </span>
                        </div>
                        <div class="action">
                            <a href="" class="btn">
                                <i class="fa fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5 footer-right">
                    <div class="inquire">
                        <div class="title text-white text-uppercase ro-bo mr-bt10 ">
                            Send us your inquire
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-xs-6">
                                <label >General Enquiries:</label>
                                <div>
                                    <a href="">info@awfir.com</a>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-6 ">
                                <label class="text-mute ">
                                    Vendor Support:
                                </label>
                                <div>
                                    <a href="">support@awfir.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="news-letter mr-tp40">
                        <div class="title text-white text-uppercase ro-bo mr-bt10 ">
                            Get latest deals in your mail box
                        </div>
                        <div class="mail-input ">
                            <input type="" name="" placeholder="Email" class="form-control">
                            <a class="btn ">Subscribe</a>
                        </div>
                    </div>
                    <div class="social-media mr-tp40">
                        <div class="title text-white text-uppercase ro-bo mr-bt10 ">
                            Stay connected with us
                        </div>
                        <div class="social-media">
                            <ul class="list-unstyled list-inline ">
                                <li class="FB">
                                    <a href="javascript:void(0)" target="_blank">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li class="TW">
                                    <a href="javascript:void(0)" target="_blank">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="google">
                                    <a href="javascript:void(0)" target="_blank">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </li>
                                <li class="LI">
                                    <a href="javascript:void(0)" target="_blank">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                                <li class="skp">
                                    <a href="javascript:void(0)" target="_blank">
                                        <i class="fa fa-skype"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center ">
                    <div class="bottom-text ">
                        Copyright 2000-2017 Awfir
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</footer>

